/* 

Project Codename: Papertree
Codding By Anjali Verma
Version 1.0

(In Development Phase)

*/


/* ------------------------------------------------------- HTML RESET -------------------------------------------------------- */

*{
	margin:0;
	padding:0;
}

html ,body ,div ,ul ,li ,a ,span ,p ,h1 ,h2 ,h3{
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Font Reset */
}

/* ------------------------------------------------------- PAGE CSS ----------------------------------------------------------- */

body{
	background:url('../images/bg.jpg') no-repeat;
}

.home-color{
	background:#5E4D91;
}

#frame{
	width:1000px;
	height:600px;
	background:#fff;
	box-shadow:0px 0px 10px 2px	rgba(0,0,0,0.1);
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-501px;
	margin-top:-316px;
	border:1px rgba(18,90,134,0.4) solid;
	border-radius:3px;
}

#page-frame{
	width:1200px;
	background:#fff;
	box-shadow:0px 0px 10px 2px	rgba(0,0,0,0.1);
	border:1px rgba(18,90,134,0.4) solid;
	border-radius:3px;
	margin:50px auto 50px auto;
	position:relative;
	height:auto;
}

#page{
	width:100%;
	min-height:600px;
	position:relative;
	height:auto;
}

.int-slider{
	width:590px;
	height:400px;
	float:left;
	display:inline-block;
	margin:15px 7px 15px 15px;
	background:#000;
}

.int-loginbox{
	width:350px;
	height:400px;
	float:right;
	display:inline-block;
	margin:15px 15px 15px 8px;
	border-left:1px rgba(18, 90, 134, 0.2) solid;
	padding-left:10px;
}

.int-loginbox h1{
	font-size:42px;
	color:#125e7e;
	width:100%;
	padding-bottom:30px;
}

.int-loginbox form label,{
	float:left;
	padding:10px 20px 10px 20px;
	display:inline-block;
}

.log-label{
	float:left;
	margin:10px 20px 10px 20px;
	display:inline-block;
}

input.logtext, textarea.logtext{
	padding:5px;
	margin-top:8px;
	background:#F5F5F5;
	border:2px #fff solid;
	box-shadow:0px 0px 1px 1px #CACACA;
	width:200px;
	float:right;
	display:inline-block;
	margin-right:20px;
	margin-bottom:10px;
	outline:0;
}

textarea.logtext{
	width:350px!important;
	max-width:350px;
	min-height:100px;
}

.log-msg{
	float:left;
	display:inline;
	margin-top:12px;
	font-size:13px;
	color:#C24949
}

input.logtext:focus{
	box-shadow:0px 0px 1px 1px #FF00FF;
}

header{
	width:100%;
	background:rgba(19, 95, 127, 0.85);
	border-bottom:1px rgb(27, 131, 175) solid;
	box-shadow:0px 0px 10px 2px	rgba(0,0,0,0.1);
}

#pre-header{
	width:100%;
	height:150px;
	position:relative;
	background:#135f7f;
}

#logo{
	height:50px;
	float:left;
	display:inline-block;
	margin:0px 50px 0px 50px;
}

#logo a img{
	height:50px;
}

#navigation{
	height:50px;
	float:left;
	display:inline-block;
}

#navigation ul{
	list-style:none;
}

#navigation ul li{
	padding:13px 20px 16px 20px;
	display:table-cell;
	position:relative;
	z-index:1;
  }
  
#navigation ul li:hover{
	background:rgba(133,124,38,1);
	padding-bottom:0px!important;
}


#navigation ul li a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:13px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

.clearfix{
	clear:both;
	width:100%;
	height:1px;
}

.logo{
	width:260px;
	height:150px;
	float:left;
	position:relative;
}

.logo a img{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-30px;
	margin-left:-95px;
}

.ft_pass{
	float:right;
	font-size:11px;
	color:#D90005;
	text-decoration:none;
	margin-right:20px;
	margin-top:-5px;
}

.log_but{
	width:100%;
	height:50px;
	margin-top:30px;
}

.log_but input{
	float:right;
	display:inline-block;
	margin:0px 20px 0px 15px;
}

#int_footer{
	width:100%;
	height:50px;
	background:#135f7f;
}

#sidebar{
	width:250px;
	height:100%;
	position:absolute;
	left:0px;
	background:#135f7f;
}

#content{
	width:950px;
	height:auto;
	float:right;
	display:inline-block;
	position:relative;
}

#tabs{
	list-style:none;
	width:250px;
	height:200px;
	float:right;
	text-align:right;
	margin-top:50px;
}

#tabs li{
	width:150px;
	padding:8px 10px 8px 0px;
	background:url('../images/controls/tab-shadow.png') rgba(255,255,255,1) right center no-repeat;
	float:right;
	margin:2px 0px 2px 0px;
	position:relative;
	font-weight:600;
}

#tabs li a{
	text-decoration:none;
	font-size:20px;
	color:#135f7f;
}

.tab-section {
padding:10px;
}
 
#tabs li a.current {
	background:#fff;
	padding:8px 10px 8px 0px;
	margin-right:-10px;
	color:rgba(133,124,38,1);
	font-weight:700;
}

.user-sect{
	float:right;
	display:inline-block;
	width:350px;
	height:130px;
	margin:10px 0;
	border-left:1px rgba(27, 131, 175, 0.5) solid;
	padding-left:15px;
	
}

span.user-details h1{
	display:inline-block;
	float:left;
	font-size:42px;
	color:#fff;
}

span.user-details h2{
	display:inline-block;
	float:left;
	font-size:28px;
	padding-top:15px;
	padding-left:10px;
	color:rgb(217, 207, 121);
}

.user-set a, span{
	color:#fff;
	font-size:13px;
	text-decoration:none;
}

h1.frame-title{
	text-align:center;
	background:#135f7f;
	font-size:32px;
	color:#fff;
	padding:5px 0px 5px 0px;
}

.recover{
	width:600px;
	height:200px;
	border:1px #e2e2e2 solid;
	margin:50px auto 50px auto;
	border-radius:5px;
	padding:10px;
}

.recover p{
	font-size:12px;
	text-align:justify;
	color:#C44D4D;
	margin-bottom:30px;
	margin-top:10px;
}

.recover-field{
	width:450px;
	margin:0px auto 0px auto;
}

.recover-field label{
	
	float:left;
	display:inline-block;
	margin-left:10px;
	
}

.recover-field-email{
	padding:5px;
	margin-top:-3px;
	background:#F5F5F5;
	border:2px #fff solid;
	box-shadow:0px 0px 1px 1px #CACACA;
	width:250px;
	float:right;
	display:inline-block;
	margin-right:10px;
	outline:0;
}

.recover-field-email:focus{
	box-shadow:0px 0px 1px 1px #FF00FF;
}

.button{
	background:#135f7f;
	padding:8px 12px 8px 12px;
	border:1px #0E455C solid;
	border-radius:1px;
	color:#fff;
	margin:0px 3px 0px 3px;
	font-weight:600;
	
	transition: all 0.2s ease;
}

.button:hover{
	background:rgba(133,124,38,1);
	border:1px rgb(202, 188, 68) solid;
}


/* ------------------------------------------------------------ Dashboard -------------------------------------------------------------- */

.dashboard, .post-page{
	padding:40px;
}


h3.title{
	width:100%;
	background:#135f7f;
	color:#fff;
	text-align:center;
	padding:4px 0px 4px 0px;
	font-weight:500;
	font-size:15px;
}

.scroll-overlay{
	width:100%;
	height:500px;
	overflow:scroll;
	overflow-x:hidden;
}

.new-posts-dashboard{
	position:absolute;
	width:280px;
	background:#F7F7F7;
	right:20px;
	top:30px;
	border-bottom:3px #F7F7F7 solid;
	height:530px;
}

.new-posts-dashboard .scroll-overlay li{
	width:220px;
	border:1px #e2e2e2 solid;
	background:#fff;
	margin:10px auto 10px auto;
	border-radius:3px;
	padding:10px;
	height:66px;
}

h3.post-title{
	width:100%;
	border-bottom:1px #e2e2e2 solid;
	height:50px;
	font-size:15px;
	text-align:left;
}

h3.post-title a{
	text-decoration:none;
	color:#135f7f;
}

.author-details{
	background:url('../images/controls/post_details.png') no-repeat 0px 2px;
	padding-left:20px;
	padding-top:2px;
	width:75px;
}

.published-on{
	background:url('../images/controls/post_details.png') no-repeat 0px -16px;
	padding-left:18px;
	padding-top:2px;
	margin-left:15px;
}

.category{
	background:url('../images/controls/post_details.png') no-repeat 0px -35px;
	padding-left:18px;
	padding-top:2px;
}

.post-desc{
	float:left;
	text-align:left;
	font-size:12px;
	color:#585858;
	vertical-align:middle;
	text-decoration:none;
}

.recent-post-dashboard{
	position:relative;
	width:100%;
	
}

.post-view{
	border:1px #e2e2e2 solid;
	width:100%;
	margin:50px auto 50px auto;
	width:100%;
	height:800px;
}

.post-meta{
	border-top:1px #C0E9AD solid;
	margin:20px -10px 0px -10px;
	padding-top:5px;
	padding-left:10px;
	background:rgba(255,255,255,0.75);
	padding-bottom:5px;
}

h1.main-heading{
	color:#135f7f;
	font-size:42px;
	margin-bottom:20px;
}

h1.main-heading a{
	text-decoration:none;
	color:#135f7f;
}

.last-post{
	padding:10px 10px 0px 10px;
	margin:20px;
	width:auto;
	border:1px #FFFFB7 solid;
	background:#FFFDCA;
	box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
	overflow:hidden;
	
	transition:all 0.25s ease;
	moz-transition:all 0.25s ease;
}

.last-post:hover{
	background:#135f7f;
	border:1px #1F8CB6 solid;
}

.last-post:hover .post-title h3 a{
 	color:#fff
}

.last-post:hover .post-meta{
	border-top:1px #0C3747 solid;
}

.post-title{
	position:relative;
	height:90px;
}

.post-title h3 a{
	font-size:34px;
	text-decoration:none;
	text-transform:capitalize;
	width:100%;
	height:100%;
	position:absolute;
	color:#993333;
}

.last-post-grid{
}

.last-post-grid ul{
	list-style:none;
	padding:0px 10px 0px 10px;
}

.last-post-grid ul li{
	display:inline-block;
	float:left;
	width:160px;
	height:auto;
	background:aqua;
	margin:10px;
	padding:15px 15px 0px 15px;
	border:1px #FFFFB7 solid;
	background:#FFFDCA;
	box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
	overflow:hidden;
	
	transition:all 0.25s ease;
	moz-transition:all 0.25s ease;
}

.last-post-grid ul li h3{
	height:100px;
	position:relative;
}

.last-post-grid ul li h3 a{
	font-size:18px;
	text-decoration:none;
	color:#993333;
	position:absolute;
	width:100%;
	height:100%;
}

.last-post-grid-meta{
	border-top:1px #C0E9AD solid;
	background:rgba(255,255,255,0.75);
	margin:10px -15px 0px -15px;
	padding:10px;
}

.last-post-grid-meta a{
	display:block;
	margin:3px 20px 3px 0px;
}

.last-post-grid ul li:hover{
	background:#135f7f;
	border:1px #1F8CB6 solid;
}

.last-post-grid ul li:hover h3 a{
	color:#fff;
}

.last-post-grid ul li:hover .last-post-grid-meta{
	border-top:1px #0C3747 solid;
}

.other-post-dashboard{
	background:#F2F2F2;
	margin:40px -40px -40px -40px;
	padding:40px;
}

/* ------------------------------------------------------------------ Search ----------------------------------------------------------------------*/
.search_bar
{
    width:100%;
}



.srch-box{
	width:400px;
	height:200px;
	background:#F3F3F3;
	position:relative;
	margin:200px auto 0px auto;
	box-shadow:0px 0px 10px 2px	rgba(0,0,0,0.1);
	border:1px rgba(18,90,134,0.4) solid;
	
	transition:all 0.5s ease;
}

.srch-box h3{
	text-align:center;
	font-size:26px;
	padding-top:30px;
	color:#135f7f;
}

.srch-btn {
	border:none;
	background:url('../images/controls/search.png') no-repeat 3px center #135f7f;
	color:rgba(0,0,0,0);
	width:32px;
	height:32px;
	cursor:pointer;
	display:inline-block;
	float:left;
	outline:0;
}

.srch-btn:hover{
	border:none;
	background:url('../images/controls/search.png') no-repeat -25px center #fffdca;
	color:rgba(0,0,0,0);
	width:32px;
	height:32px;
	cursor:pointer;
	display:inline-block;
	float:left;
}

div.kwd-set{
	margin:40px auto 0px auto;
	width:242px;
}

.kwd-set input{
	display:inline-block;
	float:left;
	height:28px;
        padding:0px 0px 0px 5px;
        width:200px;
        color:#999999;
}

.kwd-set input:focus{
        color:#000;
}

.s-result{
    margin:0px -10px -2px -11px;
    padding:10px 20px 10px 10px;
    background:rgba(255,255,255,0.5);
}



.srch-results{
	width:auto;
	height:0px;
	background:#e2e2e2;
	margin-top:30px;
	opacity:0;
	display:none;
	
	transition:all 1s ease;
}

/* ---------------------------------------------------------------------- Slider -------------------------------------------------------------- */

.gallery{
	width:590px;
	height:400px;
}
			 
.slider{
	width:inherit;
	height:400px;
	overflow:scroll;
}

.slider ul{
	width:10000px;
	list-style:none;
	margin-left:0px;
}
			
.slider li{
	float:left;
}
			 
#slider-nav{
	display:none; 
	position:relative; 

}
			
.slide-next{
	position:absolute;
	right:10px;
	top:175px;
	color:transparent;
	border:0;
	background:url('../images/controls/slider.png') -43px center no-repeat;
	width:35px;
	height:60px;
	cursor: pointer;
	outline:none;
}
			
.slide-prev{
	position:absolute;
	left:10px;
	top:175px;
	color:transparent;
	border:0;
	background:url('../images/controls/slider.png') 0px center no-repeat;
	width:35px;
	height:60px;
	cursor: pointer;
	outline:none;
}


.rvmsg
{
margin-bottom:10px;
text-align:center;
}